# LAB 1 EXPERIMENT

### Write a Python program to create variables for the following data types: int, float, string, and boolean. Print the type of each variable.

In [1]:
num1 = 4
num2 = 2.5
subject = "Computer Vision"
boolean = True

print(f'num1 is of type{type(num1)}')
print(f'num2 is of type{type(num2)}')
print(f'subject is of type{type(subject)}')
print(f'boolean is of type{type(boolean)}')

num1 is of type<class 'int'>
num2 is of type<class 'float'>
subject is of type<class 'str'>
boolean is of type<class 'bool'>

### Given a string "Hello, Students!", write a program to extract and print:
* a) The first 5 characters.
* b) The string in reverse.

In [2]:
mystr = 'Hello, Students!'
mystr[:5]
mystr[::-1]

'!stnedutS ,olleH'

### Create a list of numbers from 1 to 5.
* a) Append 6 to the list.
* b) Remove 3 from the list.
* c) Print the updated list.

In [3]:
li = [x for x in range(1,6)]

In [4]:
li

[1, 2, 3, 4, 5]

In [5]:
li.append(6)
li

[1, 2, 3, 4, 5, 6]

In [6]:
li.remove(3)
li

[1, 2, 4, 5, 6]

## 4. Create a dictionary with the keys "name," "age," and "city" and the corresponding values "John," "25," and "New York."
 - a) Print the value associated with the key "city".

In [7]:
people = [
    {"name": "John", "age": 25, "city": "New York"},
    {"name": "Alice", "age": 30, "city": "London"},
    {"name": "Bob", "age": 28, "city": "Paris"}
]

In [8]:
people[0]["city"]

'New York'

## 5. Create a tuple (1, 2, 3, 4, 5).
- a) Access and print the third element.
- b) Check if the number 4 exists in the tuple.

In [9]:
mytup = (1,2,3,4,5)
mytup

(1, 2, 3, 4, 5)

In [10]:
mytup[2]

3

In [11]:
4 in mytup

True

## Create a dictionary where keys are names of students (e.g., "Your Name", "Your friend's Name") and values are their marks stored as lists (e.g., [85, 90, 95]).
- Write a program to calculate and print the average marks for each student.

In [12]:
student_marks = {
    "Alice": [85, 90, 95],
    "Bob": [70, 80, 75],
    "Charlie": [92, 88, 95],
    "David": [78, 85, 90]
}

for student in student_marks.keys():
    average_mark = sum(student_marks[student])/len(student_marks[student])
    print(f"{student}'s average mark: {average_mark}")

Alice's average mark: 90.0
Bob's average mark: 75.0
Charlie's average mark: 91.66666666666667
David's average mark: 84.33333333333333

## Write a program that takes two lists of integers and finds:
- a) Elements common to both lists.
- b) Elements that are in the first list but not in the second.

In [13]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 5, 6, 7, 8]

In [14]:
common =[]
for x in list1:
    if x in list2:
        common.append(x)
common

[3, 5]

In [15]:
inFirst =[]
for x in list1:
    if x not in list2:
        inFirst.append(x)
inFirst

[1, 2, 4]

## 8. Using a nested list (2D array), create a matrix [[1, 2, 3], [4, 5, 6], [7, 8, 9]].
- a) Write a program to transpose this matrix.

In [16]:
# [[1, 2, 3],
#  [4, 5, 6],
#  [7, 8, 9]]


# [[1, 4, 7],
#  [2, 5, 8],
#  [3, 6, 9]]

arr = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
trans = [[], [], []]

for r in range(0, 3):
  for c in range(0, 3):
    trans[r].append(arr[c][r])

trans

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

## 9. Write a program to sort a dictionary by its values in descending order.

In [17]:
import operator

# Sample dictionary
my_dict = {'apple': 5, 'banana': 2, 'cherry': 8, 'date': 1}
sorted_dict = dict(sorted(my_dict.items(), key=operator.itemgetter(1), reverse=True))

# Print the sorted dictionary
sorted_dict

{'cherry': 8, 'apple': 5, 'banana': 2, 'date': 1}

## 10. Write a program to flatten a deeply nested list.
- Hints: Given [[1, 2, [3, 4]], [5, 6], 7], the program should output [1, 2, 3, 4, 5, 6, 7].

In [18]:
deepList = [[1, 2, [3, 4]], [5, 6], 7]

def flatten(lst):
    flattened = []
    for item in lst:
        if isinstance(item, list):
            flattened.extend(flatten(item))
        else:
            flattened.append(item)
    return flattened

In [19]:
flatten(deepList)

[1, 2, 3, 4, 5, 6, 7]

In [20]:
flattened = []
def flattenr(lst):
    for item in lst:
        if isinstance(item, list):
            flattenr(item)
        else:
            flattened.append(item)
    return flattened
flattenr(deepList)

[1, 2, 3, 4, 5, 6, 7]